.navbar__wrapper {
    width: 100vw;
    padding: 1.75em;
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.brand__icon {
    font-size: 3rem;
    margin-right: 0.25em;
}

@media screen and (max-width: 430px) {
    .navbar__wrapper {
        flex-direction: column;
    }
}